
body {
    margin: 5px;
    /* background-image: url('https://camo.envatousercontent.com/265b8f5177668855e8eb2f1952cacb731a47a3da/687474703a2f2f7777772e6374636f6e6e656374696f6e732e636f6d2e61752f7265736f75726365732f75706c6f6164732f323031362f30322f666c79696e672d686967682d64656d616e642d736f6172732d636f72706f726174652d627573696e6573732d74726176656c2d6d616e61676572732e6a7067'); */
    background-repeat: no-repeat;
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
}
/*header*/

.containergrandparent{
    display: flex;
    align-items: center;


}
.logoContainer{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    width: 30%;
    align-items: center;


}

.child1{
     display: flex;
    flex-direction: row;
    width: 46%;
    align-items: center;
    justify-content: space-around;
    


}
.searchContainer{
    width: 50%;
    
}
.child2{
    width: 73%;
}
.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}


.AccountContainer{
    width: 20%;
}

.Child3{
    width: 41%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/*header*/