body{
    background-color: brown;
}
/*loader*/

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #693434;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  /*loader*/
.text_Style{
    font-family: cursive;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    width: 73%;
}
.dropdown{
    border: none;
}
.navbar {
    display: flex ;
    justify-content: flex-end;
}
.tableStyle{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
}
.tableFix {
    width: 70% !important;
    border: 2px solid !important;
    background-color: transparent !important;
    color: aliceblue;
    margin-top: -16px;
}
.table {
    width: 70% !important;
    border: 2px solid !important;
    background-color: transparent !important;
    color: aliceblue;
    margin-top: -16px;
}
.headingStyle{
    display: flex;
    justify-content: center;
    margin-top: 9px;
    color: white;
    font-family: cursive;
}
.dropLeft{
    padding-right: 77%;
}
/* drop */
.dropdown-toggle{
    display: inline-block !important;
    margin-left: .255em !important;
    border-right: .3em solid transparent !important;
    cursor: pointer !important;
    border-bottom: 0 !important;
    border-left: .3em solid transparent !important;
}
/* drop */
.bg{
    background-image: url('http://www.udg.ethz.ch/research/tutorial/_jcr_content/par/fullwidthimage/image.imageformat.fullwidthwidepage.1480286592.gif');
    height: 189px;
}
.h1Center{
    display: flex;
    justify-content: center;
    color: antiquewhite;
    margin-top: 50px;
}
.pCenter{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 83%;
    padding-left: 117px;
    margin-top: 24px;
    color: wheat;
}
#rowData{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nameWidth{
   
    width: 171px;
}
.numWidth{
   
    width: 99px;
}
.LnameWidth{
    
    width: 158px;
}
.AgeWidth{
    
    width: 146px;
}
.CNICWidth{
    
    width: 197px;
}
.bloodGroupWidth{
    
    width: 298px;
}
footer.page-footer {
    bottom: 0 !important;
    z-index: -1 !important;
    color: #fff !important;
}
.fixed-bottom1{
    right: 0 !important;
    left: 0 !important;
    z-index: 1030 !important;
}
.SearchContainer{
    justify-content: center;
    display: flex;
    padding-top: 34px;
}
.form-control {
    display: block !important;
    width: 40% !important;
    height: calc(2.25rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}