.heading{
    margin-right: 101px;
    padding-top: 10px;

}
.button{
    display: flex;
    flex-direction: column;
    width: 113px;
    padding-top: 36px;
    padding-bottom: 36px;
}

.container1{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: burlywood;
    width: 461px;
    margin-left: auto;
    margin-top: 122px;
    margin-right: auto;
    height: 827px;
    border-radius: 20px;
}
body{
    background-image: url('https://media.istockphoto.com/photos/christmas-lights-defocused-background-bokeh-gold-blue-picture-id613518332?k=6&m=613518332&s=612x612&w=0&h=Own5MdgJXjNhFd0YUyED1UP3mQsHeNhfML9F-DQYdYw=');
    background-repeat: no-repeat;
    background-size: cover;
}
.img{
    height: 10px;
    wi
}